# Virtual Environment
venv/
env/
ENV/
migenv/
amb/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
logs/
output/
input/

# OS specific
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# Distribuzione e build
build/
dist/
*.egg-info/
*.egg

# File temporanei
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Cache di ML/NLP
#data/*.joblib
data/*.pkl
data/*.model
*.spacy
.ipynb_checkpoints/
embeddings_cache/

# Altro
.env
.python-version